.button {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 4px;
  float: left;
  border-radius: 6px;
  cursor: pointer;
  display:inline-block;
  box-shadow: 0px 4px #50505080;
  -webkit-box-shadow: 0px 4px #50505080;
  -moz-box-shadow: 0px 4px #50505080;
  text-align: center;
  position: relative;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
}

.button:active {
  box-shadow: 0px 0px #535aa8;
  -webkit-box-shadow: 0px 4px #535aa8; 
  -moz-box-shadow: 0px 4px #535aa8; 
  top: 4px;
}

.button:hover {
  background-color: #a080ff;
  color: white;
  box-shadow: 0px 4px #535aa8; 
  -webkit-box-shadow: 0px 4px #535aa8; 
  -moz-box-shadow: 0px 4px #535aa8; 
}

#buttons-container {
  text-align: center;
  width: 212px; /* (78 width + 10x2 padding + 4x2 margin) x 2 buttons */
  margin: 0 auto;
}

#container {
  width: 750px;
  height: 600px;
  background-color: #90d2ea;
  margin: 10px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 1px 0px #009de4;
  -webkit-box-shadow: 0px 4px 1px 0px #009de4;
  -moz-box-shadow: 0px 4px 1px 0px #009de4;
  position: relative;
}

#credits {
  font-size: 0.75em;
  text-align: right;
}

.disabled-button {
  background-color: rgb(127, 127, 127);
  cursor: default;
  padding: 10px;
  margin: 4px;
  float: left;
  border-radius: 6px;
  display:inline-block;
  box-shadow: 0px 4px #50505080;
  -webkit-box-shadow: 0px 4px #50505080;
  -moz-box-shadow: 0px 4px #50505080;
  text-align: center;
  position: relative;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
}
  
.fruit {
  display: none;
  position: absolute;
}

#fruit-container {
  width: 650px;
  height: 400px;
  margin: 50px auto 10px auto;
  background-color: white;
  box-shadow: 0px 4px #535aa8;
  -moz-box-shadow: 0px 4px #535aa8;
  -webkit-box-shadow: 0px 4px #535aa8;
/*
  font-size: 100px;
  text-align: center;
  font-family: cursive, sans-serif;
*/
  color: black;
  position: relative;
  overflow: hidden;
}

#game-over {
  width: 500px;
  height: 200px;
  background: linear-gradient(#ffd000, #b07000);
  color: white;
  font-size: 2.5em;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  left: 145px;
  top: 170px;
  z-index: 2;
  display: none;
}

html {
  background: radial-gradient(circle, #fff, #ccc);
  background: -webkit-radial-gradient(circle, #fff, #ccc);
  background: -moz-radial-gradient(circle, #fff, #ccc);
  background: -o-radial-gradient(circle, #fff, #ccc);
  font-family: sans-serif;
}

#instruction {
  width: 450px;
  height: 50px;
  background-color: mediumpurple;
  margin: 10px auto;
  text-align: center;
  box-shadow: 0px 4px #535aa8;
  line-height: 25px;
  font-size: 75%;
  font-weight: bold;
}

.item {
  display: none;
  position: absolute;
}

.item-hud {
  position: absolute;
  width: 100px;
}

#item-hud-invincible {
  left: 240px;
}

.item-hud-label {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 80%;
  display: block;
  text-align: center;
}

#item-hud-points {
  left: 0px;
}

#item-hud-slow {
  left: 120px;
}

#item-hud-trollin {
  left: 0px;
  width: 340px;
}

.item-hud-trollin-label {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 100%;
  color: red;
  display: block;
  text-align: center;
}

#item-huds-container {
  position: absolute;
  left: 180px;
  top: 25px;
}

#level {
  background-color: #ffff00;
  color: #808080;
  padding: 10px;
  position: absolute;
  left: 560px;
  box-shadow: 0px 2px #808000;
  width: 65px;
}

.life {
  margin: 0 5px;
}

#paused {
  width: 650px;
  height: 400px;
  background: linear-gradient(#00a0ff, #000050);
  color: white;
  margin: 50px 50px;
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  z-index: 2;
  display: none;
}

#paused span {
  line-height: 400px;
}

#pause-resume {
  width: 78px;
}

.points-awarded {
  position: absolute;
  
  /* prevents individual points chars from wrapping when at the right edge, sor accurate width calculations of a single line of points chars */
  white-space: nowrap;
}

.points-awarded-char {
  font-size: 20px;
  text-align: center;
  font-family: cursive, sans-serif;
  font-weight: bold;
  opacity: 0;
  position: relative;
}

#score {
  background-color: #ffff00;
  color: #808080;
  padding: 10px;
  position: absolute;
  left: 660px;
  box-shadow: 0px 2px #808000;
  width: 90px;
}

#start-reset {
  width: 78px;
}

#trials-left {
  background-color: #ffff00;
  color: #808080;
  width: 80px;
  padding: 10px;
  position: absolute;
  border-radius: 4px;
  top: 20px;
  box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
/*  display: none;*/
}